.signin-background {
    background-image: url('https://img.freepik.com/free-vector/black-background-with-white-line-that-says-white-it_483537-4189.jpg?w=826&t=st=1729087330~exp=1729087930~hmac=005d69b4d374003f974b50fdba49600ce587da4a0b10b8658f9fd762fc59da2c');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signin-form-container {
    background-color: rgb(35, 33, 33);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 500px; 
  }
  
  .text-red-700 {
    color: #e3342f; 
  }
  